[submodule "library/lib/extern/glfw"]
	path = library/lib/extern/glfw
	url = https://github.com/xfangfang/glfw.git
[submodule "library/lib/extern/SDL"]
	path = library/lib/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "reference/NX-Mod-Manager"]
	path = reference/NX-Mod-Manager
	url = https://github.com/TOM-BadEN/NX-Mod-Manager.git
[submodule "reference/willwill"]
	path = reference/willwill
	url = https://github.com/xfangfang/wiliwili
[submodule "reference/borealis_template"]
	path = reference/borealis_template
	url = https://github.com/TOM-BadEN/borealis_template
[submodule "reference/libnx"]
	path = reference/libnx
	url = https://github.com/switchbrew/libnx
[submodule "library/borealis"]
	path = library/borealis
	url = https://github.com/xfangfang/borealis.git
