[submodule "library/lib/extern/glfw"]
	path = library/lib/extern/glfw
	url = https://github.com/xfangfang/glfw.git
[submodule "library/lib/extern/SDL"]
	path = library/lib/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "library/cpp-pinyin"]
	path = library/cpp-pinyin
	url = https://github.com/wolfgitpr/cpp-pinyin.git
[submodule "library/borealis"]
	path = library/borealis
	url = https://github.com/xfangfang/borealis.git
[submodule "library/QR-Code-generator"]
	path = library/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "library/miniz"]
	path = library/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "library/libnxtc-mod"]
	path = library/libnxtc-mod
	url = https://github.com/TOM-BadEN/libnxtc-mod.git
